[submodule "selavy.github.io/themes/kiera"]
	path = selavy.github.io/themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "selavy.github.io/public"]
	path = selavy.github.io/public
	url = https://selavy@github.com/selavy/selavy.github.io.git
	branch = master
[submodule "selavy.github.io/themes/blackburn"]
	path = selavy.github.io/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "selavy.github.io/themes/tale"]
	path = selavy.github.io/themes/tale
	url = https://github.com/EmielH/tale-hugo.git
